// Must be included with includeConfig in every module config

process.shell = ["/bin/bash", "-euo", "pipefail"]
workflow.output.mode = "copy"
report.overwrite = true
outputDir = "output"

process {
  
  // Baseline allocation for processes without a label
  cpus = 4
  memory = 16.GB
  time = 4.h

  withLabel: "BCFTOOLS" {
    container = "quay.io/biocontainers/bcftools:1.22--h3a4d415_1"
    cpus = 4
    memory = 16.GB
    time = 4.h
  }

  withLabel: "BEDTOOLS" {
    container = "quay.io/biocontainers/bedtools:2.30.0--h468198e_3"
    cpus = 1
    memory = 16.GB
    time = 4.h
  }

  withLabel: "SAMTOOLS" {
    container = "quay.io/biocontainers/samtools:1.19.2--h50ea8bc_1"
    cpus = 4
    memory = 16.GB
    time = 4.h
  }

  withLabel: "VCFTOOLS" {
    container = "quay.io/biocontainers/vcftools:0.1.16--he513fc3_4"
    cpus = 4
    memory = 16.GB
    time = 4.h
  }

}
