includeConfig "../../common/nextflow.config"

conda.enabled = true
conda.channels = "conda-forge,bioconda"
conda.createTimeout = 1.h

process {

  withLabel: "NUMPY" {
    container = "quay.io/biocontainers/numpy:2.2.2"
    cpus = 4
    memory = 16.GB
    time = 4.h
  }

  withLabel: "REHH" {
    conda = "r-rehh=3.2.2 r-data.table r-r.utils"
    cpus = 16
    memory = 32.GB
    time = 6.h
  }

  withLabel: "SHAPEIT5" {
    container = "quay.io/biocontainers/shapeit5:5.1.1--hb60d31d_0"
    cpus = 4
    memory = 16.GB
    time = 8.h
  }

  withLabel: "WINPCA" {
    conda = "numpy=1.25 pandas numba scikit-allel plotly"
    cpus = 6
    memory = 12.GB
    time = 12.h
  }

}
