includeConfig "../../common/nextflow.config"

process {

  withLabel: "BCFTOOLS_VCFTOOLS" {
    // Container: https://wave.seqera.io/view/builds/bd-39fc8ab24f49f2d6_1
    container = "community.wave.seqera.io/library/bcftools_vcftools:39fc8ab24f49f2d6"
    cpus = 4
    memory = 16.GB
    time = 4.h
  }

}
