// Site configuration: Saga (SLURM).
//
//   ./RIPLEY <module> <options.yaml> config/saga.config
//
// Set clusterOptions to your own project account before running.
// Set singularity.cacheDir to save containers persistently.

process.executor = "slurm"
process.clusterOptions = "--account=<project>"

singularity.enabled = true
singularity.autoMounts = true
